.home{
    min-height: 60vh;
    height: auto;
}

a{
    text-decoration: none;
}

.home__title{
    padding-top: 30px;
    font-size: 2.6rem;
    font-weight: 700;
    color: darkslategrey;
}

.home__paragraph {
    font-size: 1.3rem;
    font-weight: 300;
}

/* Home --> menu imagen*/
.home__picture {
    width: 180px;
    filter: drop-shadow(2px 2px 4px rgba(0,0,100,0.5));
}

/* Espacio para los estilos del Home */
.home__content{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home__img{
    width: 400px;   
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

.home__legend{
    margin-top: 10px;
    color: darkslategray;
    transition: all .5s;
}

.home__legend:hover {
    color: gray;
}

/* Footer */

.Footer {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    margin-top: 120px;
    height: 15vh;
    position: relative;
    padding: 20px 0;
}

.footer__body {
    width: 100%;
}

.footer__list{
    display: flex;
    justify-content: space-evenly;
}

.footer__list li{
    list-style: none;
}


.footer__list a{
    text-decoration: none;
    color: darkslategrey;
    font-weight: 700;
    transition: all .5s;
}

.footer__list a:hover{
    color: white;
    filter: drop-shadow(1px 1px 4px rgba(0,0,100,0.5));
    border-bottom: 1px solid black;
}

.footer__copy{
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
}

