
@{
    ViewData["Title"] = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contacto</h1>

<h4>Enviame un correo con tus comentarios, o si notas algun error, de esta manera trabajare rapido para dar solución a la petición</h4>

